.menu-wrapper{
    width: 100vw;
    height: auto;
    color: white;
    line-height: 50px;
    display: flex;
    background-color: rgb(41, 41, 190);
}


.navbar-item-active{
    width: 80vw;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    list-style: none;
    

}

.navbar-item-none{
    
    display: none;
    
}

.nav-link{
    font-size: 20px;
    padding-right: 10px;
}

.nav-link a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link a:hover{
    font-size: 22px;
}

img{
    width: 50px;
    height: 50px;
}

@media (width < 350px) {

  .menu-wrapper{
    flex-direction: column;
  }
    .navbar-item-active{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        
    
    }

}



